@import '../globals';

#AppList {
    .entry_body {
        .Card;
        &:hover {
            .Card-Hover;
            cursor: pointer;
        }

        .app-name {
            font-size:   3rem;
            font-weight: bolder;
            color:       @bt-red;
            font-family: Conv_RobotoSlab-Bold, serif;
        }

        .app-more {
            font-weight: bolder;
        }

        .app-label {
            font-weight: bolder;
            color:       @bt-red;
            padding-top: 1rem;
        }

        .app-short-description {
            font-size:  1.5rem;
//            font-style: italic;
        }

        .app-screenshot {
            float:   right;
            padding: 1rem;
            img {
                max-width:  408px/2;
                max-height: 240px/2;
                height:     100%;
            }
        }
    }
}