<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Bytes Templar{% endblock %}</title>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="/css/main.css" media="screen"/>
        <link rel="stylesheet" href="/css/mobile/mobile.css" media="screen and (max-width:700px)"/>
        <link rel="stylesheet" href="/css/main/desktop.css" media="screen and (min-width:701px)"/>

        <link rel="icon" href="/images/favicon.png" sizes="32x32"/>
        <link rel="icon" href="/images/favicon.png" sizes="48x48"/>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    </head>
    <body>
        {{ include("header_menu.html.twig") }}
        <div id="Content">
            {% block body %}
            {% endblock %}
        </div>
        {{ include("footer.html.twig") }}
        {#<script src="https://github.com/Khan/tota11y/releases/download/0.0.3/tota11y.min.js"></script>#}
    </body>
</html>
