<div id="HeaderMenu">
    <div id="HeaderMenuContainer">
        <div id="HeaderMenuLogo"><img style="vertical-align: top" src="images/logo512.png"></div>
        <ul>
            <li><a href="games">Games</a></li>
            <li><a href="web">Web</a></li>
            <li><a href="mobile">Mobile</a></li>
            <li><a href="other">Other</a></li>
            <li><a href="http://bytestemplar.blogspot.com/">Blog</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
</div>
<!--<div id="HeaderMenuMobile" class="hidden-md hidden-lg">-->
    <!--<div>-->
        <!--<div><img style="vertical-align: top" src="images/bt_120px.png"></div>-->
        <!--<div><a href="games">Games</a></div>-->
        <!--<div><a href="web">Web</a></div>-->
        <!--<div><a href="mobile">Mobile</a></div>-->
        <!--<div><a href="other">Other</a></div>-->
        <!--<div><a href="http://bytestemplar.blogspot.com/">Blog</a></div>-->
        <!--<div><a href="about">About</a></div>-->
    <!--</div>-->
<!--</div>-->