<div id="HeaderMenu">
    <div id="HeaderMenuContainer">
        <div id="HeaderMenuLogo"><img style="vertical-align: top" src="/images/logo512.png"></div>
        <ul>
            <li id="MenuGames"><a href="games">Games</a></li>
            <li id="MenuWeb" class="selected"><a href="web">Web</a></li>
            <li id="MenuMobile"><a href="mobile">Mobile</a></li>
            <li id="MenuOther"><a href="other">Other</a></li>
            <li id="MenuBlog"><a href="http://bytestemplar.blogspot.com/">Blog</a></li>
            <li id="MenuAbout"><a href="about">About</a></li>
        </ul>
    </div>
</div>