#HeaderMenu{width:100%;height:120px;background-color:#8b0000;position:fixed;box-shadow:0 0 1em #000;z-index:999;font-family:"Conv_RobotoSlab-Bold",serif}
#HeaderMenuContainer{max-width:800px;margin-left:auto;margin-right:auto;font-size:1.5em}
#HeaderMenuLogo{float:left}
#HeaderMenuLogo img{height:120px;padding:.5em}
#HeaderMenuContainer a{color:#fff;text-shadow:4px 4px 16px #250000}
#HeaderMenuContainer a:hover{text-decoration:none;position:relative;top:2px;text-shadow:0 0 4px #000;transition:text-shadow .15s ease-in-out}
#HeaderMenuContainer div{text-align:center}
#HeaderMenuContainer .selected a{text-shadow:0 0 8px #000;color:#ffd700}
#HeaderMenuContainer ul{padding:0;margin:0}
#HeaderMenuContainer li{list-style:none;display:inline-block;padding-left:2em;margin-top:2em}
